.bg-image{
    background-image: url(https://images.pexels.com/photos/1629781/pexels-photo-1629781.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.margin-top{
    margin-top:  10%;
}